

@font-face {
    font-family: 'Dudu_Calligraphy';
    src:  url('../fonts/dudu_calligraphy/Dudu_Calligraphy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    backdrop-filter: blur(10px); 
    background: linear-gradient(to right, #0f5274, #277599);
}

body, html  {
    
    margin: -5px;
    padding: 0;
    width: 100%;
    height: 106%;
   /* background: linear-gradient(#352222, #160d0d);*/
    overflow:hidden;
}

#logo3{
    width: 350px;
    position: absolute;
    margin-top: -9%;
}


#container {
    width: 100%;
    height: 100%;
    margin: 20px;
}


#header {
    padding: 20px;
}

#logo4{
    margin-top: 13px;
    margin-left: -2vw;
    width: 550px;
    position: absolute;
    display: flex;
}

#logo5{
    margin-top: 13px;
    margin: 2%;
    width: 500px;
    position: absolute;
    display: flex;
}

#logo {
    margin-top: 13px;
    margin-left: 1.5vw;
    width: 550px;
    position: absolute;
    display: flex;
 
}

#buttons{
    color: #FFF4E4;
    cursor: pointer;
    width: 50%;
    margin-top: 37%;
    margin-left: -7%;
    display: flex;
    
    
}


#buttons2{
    width: 50%;
    color: #FFF4E4;
    cursor: pointer;
    margin-top: 34%;
    margin-left: -7%;
    display: flex;
    
}

#buttons3{
    width: 50%;
    color: #FFF4E4;
    cursor: pointer;
    margin-top: 33%;
    margin-left: -7%;
    display: flex;
    
}

#buttons4{
    width: 50%;
    color: #FFF4E4;
    cursor: pointer;
    margin-top: 33%;
    margin-left: -7%;
    display: flex;
    
}



#Section3{
    display: none;
}

#Section4{
    display: none;
}

#Section2{
    overflow: hidden;
    margin: -5px;
    padding: 0;
    display: none;
    width: 100%;
    height: 106%;
}

#buttons li:hover, #buttons2 li:hover,#buttons3 li:hover,#buttons4 li:hover{
    transform: scale(1.2);
}

#MaxSec, #SeanDaniSec,#ChloeSec,#AlexSec{
    display: block;
    float: left;
    width: 10px; 
    height: 10px; 
    list-style: none;
    transition: transform 0.3s;
    margin-right:40px;
    padding: 50px;
    margin-top: -18%;

  
}

#MaxSec2, #SeanDaniSec2,#ChloeSec2,#AlexSec2{
    display: block;
    float: left;
    width: 10px; 
    height: 10px; 
    list-style: none;
    transition: transform 0.3s;
    padding: 50px;
    margin-top: -10%;
    margin-right:40px;
  
}

#MaxSec3, #SeanDaniSec3,#ChloeSec3,#AlexSec3{
    display: block;
    float: left;
    width: 10px; 
    height: 10px; 
    list-style: none;
    transition: transform 0.3s;
    padding: 50px;
    margin-top: -10%;
    margin-right:40px;
  
}

#MaxSec4, #SeanDaniSec4,#ChloeSec4,#AlexSec4{
    display: block;
    float: left;
    width: 10px; 
    height: 10px; 
    list-style: none;
    transition: transform 0.3s;
    padding: 50px;
    margin-top: -10%;
    margin-right:40px;
  
}




.buttonimg{
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#images, #images3, #images4{
    justify-content: center;
    display: flex;
}

.borboleta {
    width: 160px;
    transform: rotate(40deg);
    height: 160px;
    display: flex;
    left: 78vw;
    position: fixed;
    opacity: 0.7;
    bottom: 80vh;
  
}

#fly1{
    left: 62vw;
    opacity: 0.7;
    bottom: 80vh;
    transform: rotate(320deg);
    position: fixed;
}


#fly3{
    left: 70vw;
    opacity: 0.7;
    position: fixed;
    bottom: 90vh;
    transform: rotate(0deg);
}



#content {
    justify-content: space-between;
    padding: 20px; 
    height: 100%;
    width: 100%;
}

#text, #text2, #text3, #text4{
    font-size: 22px;
    text-align: left;
    display: block;
    float: left;
    width: 50%;
    text-align: justify;
    color: #FFF4E4;
    font-family: 'Dudu_Calligraphy';
    margin-top: 11%;
}

#text2{
    margin-top: 12%;
}

#icon2{
    width: 33%;
    height: 59%;
    display: flex;
    position: fixed;
    left: 59%;
    opacity: 0.7;
    z-index: 1;
    bottom: 40%;
}

#icon3{
    width: 35%;
    height: 80%;
    display: flex;
    position: fixed;
    left: 60%;
    opacity: 0.8;
    z-index: 1;
    bottom: 40%;
}

#icon4{
    width: 30%;
    height: 60%;
    display: flex;
    position: fixed;
    left: 65%;
    opacity: 0.8;
    z-index: 1;
    bottom: 43%;
}

#max{
    height: 90%;
    bottom: -6%;
    display: flex;
    position: fixed;
    margin-left: 52%;
}

#seandani{
    height: 80%;
    margin-top: 3%;
    margin-left: 55%;
    display: flex;
    position: fixed;
    z-index: 2;

}

#Chloe{
    height: 100%;
    margin-left: 57%;
    display: flex;
    position: fixed;
    z-index: 2;
}

#Alex{
    height: 80%;
    bottom: 0%;
    margin-left: 55%;
    display: flex;
    position: fixed;
    z-index: 2;
}